body{
    margin: 0px;
}
input[type=text]{
    border: 0px;
    height: 50px;
    padding: 10px;
    font-size: 15px;
    
}
select{
    border: 0px;
    height: 50px;
    padding: 10px;
    font-size: 15px;
}
input[type=submit]{
    border: 0px;
    height: 50px;
    padding: 10px;
    font-size: 15px;
    background-color: #d9f5ff;
    margin-left: 10px;
}
button{
    border: 0px;
    height: 50px;
    padding: 10px;
    font-size: 15px;
    background-color: #d9f5ff;
    margin-left: 10px;
}
.lk{
    width: 100%;
    background-image: url(/upload/template/background.jpeg);
    background-size: 100%;
    padding-top: 40px;
    min-height: 100vh;
}
.lk .header{
    width: 100%;
}
.lk .work-space{
    padding: 40px;
}
.lk .work-space .page{
    background: #fcfcfced;
   
    padding: 10px;
}

.menu{
    background-color: #f5ecdcc7;
}
.menu-container{
    width: 100%;
  
}
.menu-container .menu{
    padding-left: 40px;
    padding-right: 40px;
}
.menu-container .menu .menu-items{
    height: 54px;
    display: flex;
}
.menu-container .menu .menu-items a{
    text-decoration: none;
}
.menu-container .menu .menu-items .menu-item{
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-container .menu .menu-items .menu-item:hover{
    background: #fff;
}
.menu-item{
    margin-top: 10px;
    margin-bottom: 15px;
    color: rgb(61, 101, 117)
}
a{
    text-decoration: none!important;
}