.form{
    background-color: #ffffff59;
    padding: 10px;
    transition: 1s;
}
.form:hover{
    background-color: #ffffffcf;
}
.form .auth-form{

}
label{
    margin-bottom: 10px;
    font-size: 22px;
}
.form .auth-form .form-header{
    width: 100%;
    display: flex;
    justify-content: center;
}
.form .auth-form .form-item{
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.form .auth-form .form-item .input-item{
    height: 50px;
    width: 100%;
    min-width: 300px;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
    border: 0px;
}
.form .auth-form .form-item .input-item:focus{
    outline: none;
}
.form .auth-form .form-item  .submit-item{
    color: #ffff;
    background-color: rgb(103 222 255);
    border-radius: 5px;
    font-size: 20px;
    width: 80%;
    border: 0px;
    height: 50px;
    cursor: pointer;
}
.form .status{
    width: 100%;
    color: red;
    text-align: center;
    font-weight: bold;
}