body{
    margin: 0px;
}
.content{
    display: flex;
    justify-content: center;
    background-image: url(/upload/template/background.jpeg);
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
a{
    text-decoration: none;
    font-size: 20px;
    
}
.reg{
    width: 100%;
    text-align: center;
    color: rgb(103 222 255);
}