.dropzone {
    width: 300px;
    height: 300px;
    border: 2px solid #24d6d6;
    color: #24d6d6;
    line-height: 280px;
    text-align: center;
    
  }
  
  .dropzone.dragover {
    color: green;
    border: 2px dashed #000;
  }
.table{
    width: 100%;
}
.table .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.table .table-work-space .table-data .columns-name{
    display: flex;
}
.table .table-work-space .table-data{
    overflow-x: auto;
}
.table .table-work-space .table-data .table-row{
    display: flex;
    min-height: 40px;
    margin: 5px;
    padding: 15px;

}
.table .table-work-space .table-data .table-row:hover{
 
    cursor: pointer;
}
.table .table-work-space .table-data .table-item{
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table .table-work-space .table-data .table-item .input-text{

}
.table .table-work-space .table-data .form{
    display: none;
}
.table .table-work-space .table-data .list .table-item{
     
}
.edit-value{
    display: flex;
    align-items: center;
}
.table .table-work-space .table-data .list .table-item span{
    word-break: break-all;
}
.table .table-work-space .table-data .list .table-item span a{
    word-break: break-all;
}
