.settings{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.settings .settings-menu{
    width: 20%;
    background-color: #e7f5ffd1;
}
.settings .settings-menu a{
    text-decoration: none;
}
.settings .settings-menu .menu-item{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}
.settings .settings-content{
    width: 80%;
}